.container {
  display: flex;
  padding: 5rem;
  margin-top: 2rem;

  gap: 8rem;
}

.perfil {
  max-width: 50%;
  height: 70vh;

  border-radius: 2rem;
}

.aboutContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.aboutContainer h2 {
  text-align: center;
  color: var(--red-700);

  font-weight: 10rem;
}

.aboutContainer p {
  text-align: justify;
  color: var(--red-500);
  font-size: 1rem;

  z-index: 2;
}

.logo {
  position: absolute;
  bottom: 55px;
  right: 70px;
  width: 110px;
  height: 110px;
  object-fit: cover;
  transform: rotate(20deg);

  z-index: 1;

}

@media screen and (max-width: 768px) {
  .container {
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .perfil {
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  .aboutContainer {
    width: 100%;
    align-items: center;
    gap: 1rem;
  }

  .aboutContainer h2 {
    margin-top: -8rem;
    font-size: 1.5rem;
    width: 90%;
  }

  .aboutContainer p {
    font-size: 0.8rem;
  }

  .logo {
    bottom: -15px;
    right: 20px;
    width: 60px;
    height: 60px;
  }
  
}