.popup {
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 2px solid #000;
  border-radius: 5px;
  height: 85vh;
}
/* Estilo para o botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup {
    height: 50vh;
  }
}

@media screen and (max-width: 400px) {
  .popup {
    height: 40vh;
  }
}