.container {
  margin-top: 96px;
  padding-bottom: -96px;
  height: 85vh;
  /* background-color: var(--red-700); */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: -142px;
  width: 100%;
  height: 110vh;
}

.palavras {
  color: white;
  /* background-color: blue; */
  margin-top: -300px;
  margin-bottom: 300px;
}

@media screen and (max-width: 768px) {
  .container {
    right: 0;
    padding-bottom: -64px;
  }

  .logo {
    margin-top: -100px;
    width: 300%;
    height: 110vh;
  }

  .palavras {
    font-size: 0.8rem;
    text-align: center;
  }
  
}