.equipe {
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;

  background-color: var(--red-500);
  padding: 2rem;

  border-radius: 2rem;

  font-weight: bold;
  font-size: 32px;

  gap: 2rem;
}

.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.img {
  width: 65%;
  border-radius: 2px;
}

.funcao {
  font-weight: normal;
  font-size: 16px;
  color: white;
  text-align: justify;
  margin-bottom: 0.9rem;
}

.parceiros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.parceiro{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.imgP {
  max-width: 50%;
  height: 70px;
}

.member {
  font-weight: 600;
  font-size: 18px;
  color: var(--red-700);
  text-align: justify;
}
.desc {
  font-weight: normal;
  font-size: 14px;
  color: white;
  text-align: justify;
  margin-bottom: 0.9rem;
}

@media screen and (max-width: 768px) {
  .equipe {
    padding: 0 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .time {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 110%;
  }

  .member {
    font-size: 15px;
  }

  .funcao {
    font-size: 12px;
  }

  .parceiros {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .parceiro {
    width: 80%;
    gap: 0.5rem;
  }

  .imgP {
    max-width: 50%;
  }

  .desc {
    font-size: 12px;
    text-align: center;
  }

}