.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: var(--red-700);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.logo {
  max-height: 50px;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: first baseline;
    height: 96px;
  }
}