.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  background-color: var(--red-700);
  height: 100px;

  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 2rem;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 10px;
  }
}
