* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --red-200: #f8b195;
  --red-500: #d55f5f;
  --red-700: #7b1c24;

  --blue-200: #83c1c8;
  --blue-500: #293241;
}